$primary-background-color: #F5F5F5;
$secondary-background-color: #C60404;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #C60404;
$secondary-link-color: white;
$errors-background-color: #FFD300;
$errors-text-color: #444;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #35B535;
$flash-alert-color:  #FF8B00;
$accent-color: #BF00FF;
$fieldset-color: lighten($secondary-background-color, 50%);
