<footer id="page-footer">
  <p>
    Copyright &copy; 2019
    <%= link_to 'Kayla B.', 'https://github.com/kdbarton1s' %>
  </p>
  <p>
    All images and movie information is from <%= link_to 'IMDb', 'https://imdb.com' %>
  </p>
</footer>
